body {
  color: inherit;
}

h1 {
  font-family: 'Chewy', cursive;
  color: #F5F5F5;
  font-size: 100px;
  font-stretch: ultra-expanded;
  margin-top: 5px;
  float: right;
  border-right: 2px;
  border-color: white;
}

h2 {}

.part-1 {
  height: 30px;
  width: 100%;
  background-image: url(../images/645581545_preview_game_of_thrones_stencils_by_bozebus-d5mjwvq.jpg);
  background-size: 20%;
}

.part1 {
  position: fixed;
  z-index: 1;
  background-color: #DE3163;
  height: 120px;
  width: 100%;
  /*text-align: center;*/
  font
}

#quit {
  color: gold;
  font-size: 20px;
  float: right;
  padding-right: 60px;
  margin-top: 40px;
}

#quit:hover {
  color: white;
}

.col-md-6:hover {
  background-color: white;
  opacity: 0.2;
}

.fa {
  font-size: 40px;
  padding-top: 50px;
}

.col-md-7 {
  border-right: 1px;
  border-color: white;
}

#roll {
  color: white;
  background-color: #9E4624;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  margin-right: 40px;
}

#roll:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
  color: black;
}

#hold {
  color: white;
  background-color: #9E4624;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  margin-right: 40px;
}

#hold:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
  color: black;
}

.players {
  background-image: url(../images/LarryMeyers-Why-Wood-Blog-604x270.jpg);
  background-size: 30%;
  font-family: 'Pangolin';
  font-size: 20px;
  height: 700px;
  width: auto;
}

.player1 {
  padding-top: 90px;
  /*position: fixed;*/
  float: right;
  padding-right: 500px;
  color: white;
}

.part2a {
  color: white;
  padding-top: 500px;
}

.player2 {
  padding-top: 90px;
  color: white;
  padding-left: 500px;
}

.part2b {
  padding-top: 225px;
  padding-left: 50px;
  float: right;
  color: white;
}

.button {
  background-color: #4CAF50;
}

;
